# STD

## Imports

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import tensorflow as tf

In [36]:
co2 = pd.read_csv('data/Jan-Office_01-05-7h00_31-05-17h30.csv', sep=';',index_col = False)

C:\Users\elmah\AppData\Local\Temp\ipykernel_30400\1032874601.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  co2 = pd.read_csv('data/Jan-Office_01-05-7h00_31-05-17h30.csv', sep=';',index_col = False)

In [37]:
# only keep c02 data
co2 = co2[['timestamp','CO2']]

In [38]:
co2.head()

           timestamp  CO2
0  1-5-2023 07:00:05  NaN
1  1-5-2023 07:00:09  NaN
2  1-5-2023 07:00:14  NaN
3  1-5-2023 07:00:18  NaN
4  1-5-2023 07:00:46  NaN

In [39]:
# drop nan values
co2 = co2.dropna()
co2.head()

            timestamp  CO2
6   1-5-2023 07:01:19  478
14  1-5-2023 07:03:56  524
23  1-5-2023 07:06:34  524
37  1-5-2023 07:11:47  522
51  1-5-2023 07:16:59  537

In [40]:
# adapt timestamp to datetime format but keep only time
co2['timestamp'] = pd.to_datetime(co2['timestamp'], format='%d-%m-%Y %H:%M:%S').dt.time

In [45]:
co2['CO2'] = pd.to_numeric(co2['CO2'], errors='coerce')

In [47]:
co2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14674 entries, 6 to 119478
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  14674 non-null  object
 1   CO2        14668 non-null  float64
dtypes: float64(1), object(1)
memory usage: 343.9+ KB